<div class="col-sm-12">
  <input type="hidden" id="check-use-zoom" value="1">
  <input type="hidden" id="light-box-position" value="1">
  <input type="hidden" id="slide_count" value="3">
  <input type="hidden" id="product-identify" value="{{ product.id }}">
  <div class="lightbox-container"></div>
  {% comment %}
    {% assign featured_img_src = current_variant.featured_image.src | default: product.featured_image.src %}
    {% assign featured_img_alt = current_variant.featured_image.alt | default: product.featured_image.alt %}
  {% endcomment %}
  <div class="additional-images slide_full owl-carousel owl-theme">
    {% for media in product.media %}
      <div
        data-thumbnail-id="{{ media.id }}"
        class="item slider-media-thumbs  product-zoom-image {{ cclass }}"
      >
        {% render 'product-slider-media-gallery', media: media, product_img_size: product_img_size, forloop: forloop %}
      </div>
    {% endfor %}
  </div>
  <!-- end wrapper-img-additional -->
</div>
<div class="col-sm-offset-3 block-2 col-sm-6 product-info-main" style="padding-top:14px;">
  {% render 'product-page-features' %}
</div>
